<h1><%= @user.name %>'s Home Page</h1>
<h2>Welcome back </h2>
<h3><%= @user.username %></h3>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br>