<h1><center>All Entries</center></h1>


<% @aerial_entries.each do |aerial_entry| %>
    <h2><p><a href="/aerial_entries/<%= aerial_entry.id %>"><%= aerial_entry.move_name %></a></p></h2>
    <p>By <%= aerial_entry.user.name %></p>
    <br>
    <br>
<% end %>