<h1>Create a new Aerial Entry</h1>

<form class="" action="/aerial_entries" method="post">
    <label for="move_name">Move Name: </label>
    <input type="text" name="move_name" value="">
    <br><br><br>
    <label for="apparatus">Apparatus: </label>
    <input type="text" name="apparatus" value="">
    <br><br><br>
    <label for="difficulty">Difficulty: </label>
    <input type="text" name="difficulty" value="">
    <br><br><br>

    <label for="description">Description:</label>
    <textarea name="description" rows="5" cols="100" value="">
    </textarea>

    <br><br><br>
    <label for="image">Image:</label>
    <input type="file" name="image" value="">

    <input type="submit" name="" value="Create Entry">
    </p>
    </br>
</form>